<p></p>
<br/>
{{!< default}}
<div class="container" style="margin-top:80px">
	
	<div class="row">
		<div class="col-xs-4 col-lg-4">
			<div class="panel panel-default">
			  	<div class="panel panel-body">
			  		<span class="text-warning " style="margin-left:40%"> <i class="fa fa-refresh fa-spin  fa-4x " aria-hidden="true"></i></span>
			   		<h3 class="text-center text-warning"> Intelligent Job Matching</h3>
				 
				</div>
			</div>
		</div>	

		<div class="col-xs-4 col-lg-4">
		   <div class="panel panel-default">
		  <div class="panel panel-body">
		  <span class="text-warning " style="margin-left:40%"> <i class="fa fa-search  fa-4x " aria-hidden="true"></i></span>
		   <h3 class="text-center text-warning"> Intelligent Job Matching</h3>
			
			</div>
			</div>
		</div>
		<div class="col-xs-4 col-lg-4">
			<div class="panel panel-default">
		 		 <div class="panel panel-body">
		 			<span class="text-warning " style="margin-left:40%"> <i class="fa fa-mortar-board  fa-4x " aria-hidden="true"></i></span>
		 			<h3 class="text-center text-warning">Quick Placed</h3>
					
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-lg-4">
		   <div class="panel panel-default">
		  <div class="panel panel-body">
		  <span class="text-warning " style="margin-left:40%"> <i class="fa fa-group  fa-4x " aria-hidden="true"></i></span>
		   <h3 class="text-center text-warning"> 1250 Users</h3>
			
			</div>
			</div>
		</div>
		<div class="col-xs-4 col-lg-4">
			<div class="panel panel-default">
		 		 <div class="panel panel-body">
		 			<span class="text-warning " style="margin-left:40%"> <i class="fa fa-handshake-o  fa-4x " aria-hidden="true"></i></span>
		 			<h3 class="text-center text-warning"> Top Recruiters</h3>
					
				</div>
			</div>
		</div>
		<div class="col-xs-4 col-lg-4">
			<div class="panel panel-default">
		 		 <div class="panel panel-body">
		 			<span class="text-warning " style="margin-left:40%"> <i class="fa fa-bell  fa-4x " aria-hidden="true"></i></span>
		 			<h3 class="text-center text-warning">Quick Notification</h3>
					
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-lg-4">
		   <div class="panel panel-default">
		  <div class="panel panel-body">
		  <span class="text-warning " style="margin-left:40%"> <i class="fa  fa-envelope  fa-4x " aria-hidden="true"></i></span>
		   <h3 class="text-center text-warning"> Ask for Referral Job</h3>
			
			</div>
			</div>
		</div>
		<div class="col-xs-4 col-lg-4">
			<div class="panel panel-default">
		 		 <div class="panel panel-body">
		 			<span class="text-warning " style="margin-left:40%"> <i class="fa  fa-file-text-o  fa-4x " aria-hidden="true"></i></span>
		 			<h3 class="text-center text-warning"> Share Resume</h3>
					
				</div>
			</div>
		</div>
		<div class="col-xs-4 col-lg-4">
			<div class="panel panel-default">
		 		 <div class="panel panel-body">
		 			<span class="text-warning " style="margin-left:40%"> <i class="fa fa-sitemap  fa-4x " aria-hidden="true"></i></span>
		 			<h3 class="text-center text-warning">Browse Jobs </h3>
				
				</div>
			</div>
		</div>
	</div>
</div>
<div class="text-center text-warning ">
	<h2><strong>Heading Panel Title<strong><h2>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-4 col-lg-4">
			<div class="panel panel-default">
			  	<div class="panel panel-body">
			  		<span class="text-warning " style="margin-left:40%"> <i class="fa fa-refresh fa-spin  fa-4x " aria-hidden="true"></i></span>
			   		<h3 class="text-center text-warning"> Intelligent Job Matching</h3>
					 
				</div>
			</div>
		</div>	

		<div class="col-xs-4 col-lg-4">
		   <div class="panel panel-default">
		  <div class="panel panel-body">
		  <span class="text-warning " style="margin-left:40%"> <i class="fa fa-search  fa-4x " aria-hidden="true"></i></span>
		   <h3 class="text-center text-warning"> Intelligent Job Matching</h3>
			</div>
			</div>
		</div>
		<div class="col-xs-4 col-lg-4">
			<div class="panel panel-default">
		 		 <div class="panel panel-body">
		 			<span class="text-warning " style="margin-left:40%"> <i class="fa fa-mortar-board  fa-4x " aria-hidden="true"></i></span>
		 			<h3 class="text-center text-warning">Quick Placed</h3>
					 
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
   <div class=" text-center text-warning"><h2><strong>Search By</strong></h2></div>
     <div  class="container">	
       <div class="panel panel-default text-warning">
		   <div class=" panel panel-body">
			   <div class="panel panel-heading">
					<ul  class="nav nav-pills ">
						<li class="active ">
						<a  href="#skill" data-toggle="tab"><h4>SKILL</h4></a>
						</li>
						<li>
							<a href="#location" data-toggle="tab"><h4>LOCATION</h4></a>
						</li>
						<li>
							<a href="#designation" data-toggle="tab"><h4>DESIGNATION</h4></a>
						</li>
						<li>
							<a href="#company" data-toggle="tab"><h4>COMPANY</h4></a>
						</li>
						<li>
							<a href="#category" data-toggle="tab"><h4>CATEGORY</h4></a>
						</li>
					</ul>
				</div>	
			<div class="tab-content clearfix">
				<div class="tab-pane active" id="skill">
					<div class="row">
						<div class="col-lg-3 col-xs-3 text-warning">
							<ul>JAVA Jobs</ul>
							<ul>C/C++ Jobs</ul>
							<ul>SQL Jobs</ul>
							<ul>.NET Jobs</ul>
							<ul>BPO Jobs </ul>
						</div>
						<div class="col-lg-3 col-xs-3 text-warning">
							<ul>CLOUD COMPUTING Jobs</ul>
							<ul>BIG DATA Jobs</ul>
							<ul>HADOOP Jobs </ul>
							<ul>AMAZON WEB SERVICES Jobs </ul>
							<ul>IOS DEVELOPEMENT Jobs </ul>
						</div>
						<div class="col-lg-3 col-xs-3 text-warning">
							<ul>MBA Jobs </ul>
							<ul>DATA ANALYSIS Jobs </ul>
							<ul>BANKING Jobs </ul>
							<ul>web DEVELOPEMENT Jobs</ul>
							<ul>ANDROID DEVELOPEMENT Jobs</ul>
						</div>
						<div class="col-lg-3 col-xs-3 text-warning">
							<ul>Government Jobs </ul>
							<ul>UPSC Jobs</ul>
							<ul>BANKING Jobs </ul>
							<ul>web DEVELOPEMENT Jobs</ul>
							<ul>ANDROID DEVELOPEMENT Jobs</ul>
						</div>

					</div>
			</div>
			<div class="tab-pane" id="location">
			   <div class="row">
				  <div class="col-lg-3 col-xs-3 ">
						<ul>JOBS IN GUJRAT</ul>
						<ul>JOBS IN ODISHA</ul>
						<ul>JOBS IN MAHARSHATRA</ul>
						<ul>JOBS IN PUNJAB</ul>
						<ul>JOBS IN KERALA</ul>
				 </div> 
				 <div class="col-lg-3 col-xs-3">
						<ul>JOBS IN UTTAR PRADESH</ul>
						<ul>JOBS IN MADHYA PRADESH</ul>
						<ul>JOBS IN RAJASTHAN</ul>
						<ul>JOBS IN KARNATAKA</ul>
						<ul>JOBS IN WEST BENGAL</ul>
				 </div>
				 <div class="col-lg-3 col-xs-3 ">
						<ul>JOBS IN DELHI NCR</ul>
						<ul>JOBS IN AGRA</ul>
						<ul>JOBS IN ASSAM</ul>
						<ul>JOBS IN ANDHRA PRADESH</ul>
						<ul>JOBS IN TELANGANA</ul>
				 </div>
				 <div class="col-lg-3 col-xs-3 ">
						<ul>JOBS IN MUMBAI</ul>
						<ul>JOBS IN PUNE</ul>
						<ul>JOBS IN HYDERABAD</ul>
						<ul>JOBS IN BANGLORE</ul>
						<ul>JOBS IN VISHAKAPATTANAM</ul>
				 </div>

				 
			   </div>
			</div>
			<div class="tab-pane" id="designation">
			    <div class="row">
				  <div class="col-lg-3 col-xs-3 ">
						<ul> IT JOBS </ul>
						<ul>CEO JOBS</ul>
						<ul>HR JOBS</ul>
						<ul>PROJECT MANAGER JOBS </ul>
						<ul>DIRECTOR JOBS </ul>
				 </div> 
				 <div class="col-lg-3 col-xs-3">
						<ul> ENGINEERING JOBS </ul>
						<ul> MARKETING JOBS </ul>
						<ul> TEACHER JOBS </ul>
						<ul> BUSSINESS DEVELOPEMENT JOBS</ul>
						<ul> DEVELOPER JOBS </ul>
				 </div>
				 <div class="col-lg-3 col-xs-3 ">
						<ul> SALES & MARKETING JOBS </ul>
						<ul> FINANCE JOBS </ul>
						<ul> OPERATIONS JOBS </ul>
						<ul> MARKETING HEAD JOBS </ul>
						<ul> SALES HEAD JOBS </ul>
				 </div>
				 <div class="col-lg-3 col-xs-3 ">
						<ul> CIVIL JOBS </ul>
						<ul> MARKETING JOBS </ul>
						<ul> TEACHER JOBS </ul>
						<ul>TECHNICAL JOBS</ul>
						<ul>STORE  MANAGER</ul>
				 </div>

				 
			   </div>
			</div>
			<div class="tab-pane" id="company">
				<div class="row">
				  <div class="col-lg-3 col-xs-3 ">
						<ul> HCL CAREERS </ul>
						<ul>TCS CAREERS</ul>
						<ul>WIPRO CAREERS</ul>
						<ul>CAPGEMINI CAREERS</ul>
						<ul>FLIPKART CAREERS</ul>
				  </div> 
				 <div class="col-lg-3 col-xs-3">
						<ul> TECH MAHINDRA CAREERS </ul>
						<ul> YAHOO  CAREERS </ul>
						<ul> ACCENTURE CAREERS </ul>
						<ul> ORACLE CAREERS</ul>
						<ul> MICROSOFT CAREERS </ul>
				 </div>
				 <div class="col-lg-3 col-xs-3 ">
						<ul> IBM CAREERS </ul>
						<ul> AMAZON CAREERS </ul>
						<ul> INTEL CAREERS </ul>
						<ul> VODAFONE CAREERS </ul>
						<ul> DELOITTE CAREERS </ul>
				 </div>
				 <div class="col-lg-3 col-xs-3 ">
						<ul> DELL CAREERS </ul>
						<ul> BANK OF INDIA CAREERS </ul>
						<ul> HDFC BANK CAREERS </ul>
						<ul>HP CAREERS</ul>
						<ul>GENPACT CAREERS</ul>
				 </div>		 
			   </div>
			</div>
			<div class="tab-pane" id="category">
			    <div class="row">
				  <div class="col-lg-3 col-xs-3 ">
						<ul> SALES JOBS </ul>
						<ul>FINANCE & ACCOUNTS JOBS</ul>
						<ul>HR JOBS</ul>
						<ul>GRAPHIC DESIGNER JOBS</ul>
						<ul>ENGINEERING JOBS</ul>
				  </div> 
				 <div class="col-lg-3 col-xs-3">
						<ul> KPO / BPO JOBS </ul>
						<ul> MAINFRAME JOBS </ul>
						<ul> MARKETING JOBS </ul>
						<ul> LEGAL JOBS</ul>
						<ul> IT JOBS </ul>
				 </div>
				 <div class="col-lg-3 col-xs-3 ">
						<ul> R&D JOBS </ul>
						<ul> GOVERNMENT JOBS </ul>
						<ul> PSU JOBS </ul>
						<ul> OIL & GAS JOBS </ul>
						<ul> PHARMA JOBS </ul>
				 </div>
				 <div class="col-lg-3 col-xs-3 ">
						<ul> TELECOM JOBS </ul>
						<ul> MEDIA JOBS </ul>
						<ul> AUTOMOBILE JOBS </ul>
						<ul>INSURSNCE JOBS</ul>
						<ul>BANK JOBS</ul>
				 </div>		 
			   </div>
			</div>
		</div>
	 </div>
	</div>
  </div>
</div>

<div class="container">
 <div class="row">	
	<div class="panel panel-default">
			<div class="panel-body text-warning">
				<h3 >About MyJobs.com</h3>
			</div>
			
	</div>
 </div>
	
</div>
